@model Glinterion.ViewModels.LoginViewModel

@{
	ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
	<div class="form-group">
		@Html.LabelFor(m => m.Login)
		@Html.EditorFor(m => m.Login, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email..." } })
		@Html.ValidationMessageFor(u => u.Login)
	</div>

	<div class="form-group">
		@Html.LabelFor(m => m.Password)
				@Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password..." } })
				@Html.ValidationMessageFor(u => u.Password)
	</div>

	<button type="submit" class="btn btn-primary">Login</button>
}
